@{
    ViewData["Title"] = "Om My Ice Dream";
}
<h1>@ViewData["Title"]</h1>

<p>Vi startede vores virksomhed den 1. december 2018 med en vision om at skabe vores egen identitet i arbejdsmarkedet og blive en del af det på vores egne præmisser. 
    Vores mål har altid været at dele vores kultur og traditioner med andre, samtidig med at vi tilbyder en unik oplevelse, der kombinerer det bedste fra Mellemøsten og Europa. 
    Vi tilbyder et udvalg af eksklusive delikatesser fra både Mellemøsten og Europa. Vores sortiment omfatter klassiske specialiteter som kunafa, baklava, arabisk is og kaffe, samt populære europæiske retter som pandekager, bubblewaffle og bubbletea. 
    Vi skaber en unik oplevelse, hvor kunderne kan nyde smagene fra begge kulinariske traditioner.</p>

<div style="display: flex; flex-wrap: wrap; gap: 10px; max-width: 320px;">
    <img src="~/images/An1.png" alt="Billede 1" style="width: 600px; height: 400px;" />
    <img src="~/images/An2.png" alt="Billede 2" style="width: 600px; height: 400px;" />
    <img src="~/images/An4.png" alt="Billede 4" style="width: 600px; height: 400px;" />
    <img src="~/images/An5.png" alt="Billede 5" style="width: 600px; height: 400px;" />
    <img src="~/images/An6.png" alt="Billede 6" style="width: 600px; height: 400px;" />
</div>